<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Restaurants</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="text-center">
            <h1>@ViewBag.Title</h1>
        </div>

        @RenderBody()


        <br />
        <br />
        <div class="text-center">
            <a class="btn btn-primary" asp-action="RestaurantList">View Top Restaurants</a>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" asp-action="AddRestaurant">Add a Restaurant</a>
        </div>

        <div class="text-center">
            <a class="btn btn-primary" asp-action="ViewRestaurants">View Suggested Restaurants</a>
        </div>


        <footer>Nate Stapleton, 2021</footer>
    </header>

</body>
</html>
