@{
ViewBag.Title = "Welcome to the Top Restaurants in Provo";
}
<div class="text-center">
    <h4>This site will show the top 100 bands of all time!</h4>
</div>

<div class="text-center">
    <img src="~/img/download (1).jpg" class="rounded" />
</div>


